@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #231f20;
}
.main {
	padding: 0px;
	height: auto;
	width: 995px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.top-black {
	width:965px;
	height:auto;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	background-color:#000000;
	float: left;
	margin-top: 7px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: "Open Sans";
	font-size: 11px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top: 14px;
	padding-right: 30px;
	padding-bottom: 11px;
	padding-left: 0px;
	text-align: right;
}
.top-black a {
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	font-family: "Open Sans";
	font-size: 11px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
}
.top-black a:hover {
	font-family: "Open Sans";
	font-size: 11px;
	text-transform: uppercase;
	color: #CCCCCC;
	text-decoration: none;
}
.logo-box {
	margin: 0px;
	float: left;
	width: 946px;
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 19px;
	height: auto;
}
.all-images {
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: auto;
}
.logo-right-part {
	text-align: right;
	padding: 0px;
	float: right;
	height: auto;
	width: 300px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 35px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: bold;
	font-size: 12px;
	color: #af0101;
}
.logo-right-part a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #4c4c4c;
	text-decoration: none;
}
.nav {
	background-color: #af0101;
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: 995px;
}
.body-text {
	padding: 0px;
	float: left;
	height: auto;
	width: 995px;
	margin-top: 26px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 0px;
}
.body-text-left-box {
	margin: 0px;
	float: left;
	height: auto;
	width: 763px;
	padding: 0px;
}
.body-text-left {
	margin: 0px;
	float: left;
	height: auto;
	width: 724px;
	padding-right: 18px;
	padding-left: 19px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #e2e2e2;
}
.body-text-left span {
	text-align: center;
	float: left;
	height: auto;
	width: 724px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 16px;
	padding-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e2e2e2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.body-text-left  h1 {
	text-align: left;
	padding: 0px;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: bold;
	color: #af0101;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 16px;
	margin-left: 0px;
}
.body-text-left   p {
	text-align: justify;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #231f20;
	margin: 0px;
}
.product {
	float: left;
	height: auto;
	width: 212px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #e2e2e2;
	padding-right: 22px;
	padding-left: 19px;
	text-align: left;
}
.product h3 {
	text-align: left;
	font-family: "Open Sans";
	font-size: 17px;
	color: #af0101;
	text-transform: uppercase;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 14px;
	margin-left: 0px;
}
.product  p {
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #222222;
	padding: 0px;
	margin-top: 22px;
	margin-right: 0px;
	margin-bottom: 17px;
	margin-left: 0px;
}
.product   a {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #af0101;
	text-transform: uppercase;
	padding: 0px;
	margin-top: 22px;
	margin-right: 0px;
	margin-bottom: 17px;
	margin-left: 0px;
	text-decoration: none;
}
.product    a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-transform: uppercase;
	padding: 0px;
	text-decoration: none;
	margin: 0px;
}
.body-text-right {
	float: right;
	height: auto;
	width: 216px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 16px;
}
.body-text-right h3 {
	margin: 0px;
	text-transform: uppercase;
	color: #950000;
	font-family: "Open Sans";
	font-size: 14px;
	display: inline;
	padding: 0px;
}
.body-text-right  i {
	margin: 0px;
	text-transform: uppercase;
	color: #4e4e4d;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.body-text-right   ul {
	padding: 0px;
	font-family: "Open Sans";
	font-size: 13px;
	color: #353535;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 26px;
	margin-left: 16px;
	list-style-type: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e2e2e2;
}
.body-text-right    li {
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #353535;
	display: block;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 14px;
	margin-left: 0px;
	list-style-type: none;
}
#black-head   {
	margin: 0px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: "Open Sans";
	font-size: 14px;
	display: inline;
	background-color: #3d3d3d;
	text-decoration: none;
	padding: 0px;
}
#black-head  a  {
	margin: 0px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: "Open Sans";
	font-size: 14px;
	display: inline;
	float: left;
	height: auto;
	width: 211px;
	padding-top: 16px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 21px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	background-color: #3d3d3d;
	text-decoration: none;
	background-image: url(../../images/arrow.jpg);
	background-repeat: no-repeat;
	background-position: right center;
}
#black-head   a:hover  {
	margin: 0px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: "Open Sans";
	font-size: 14px;
	display: inline;
	float: left;
	height: auto;
	width: 211px;
	padding-top: 16px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 21px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	background-color: #550000;
	background-image: none;
}
.body-text-right  a {
	margin: 0px;
	text-transform: uppercase;
	color: #950000;
	font-family: "Open Sans";
	font-size: 13px;
	display: inline;
	padding: 0px;
	text-decoration: none;
	font-weight: bold;
}
.body-text-right-l   a {
	margin: 0px;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: inline;
	padding: 0px;
	text-decoration: none;
	font-weight: normal;
	text-transform: capitalize;
}
.body-text-right     span {
	font-family: "Open Sans";
	font-size: 13px;
	color: #353535;
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 16px;
}
.footer {
	width:995px;
	height:auto;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	background-color:#292929;
	padding: 0px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
.footer-box {
	float: left;
	height: auto;
	width: 959px;
	margin-top: 20px;
	margin-right: 18px;
	margin-left: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #b0b0b0;
}
.footer-box a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
}
.footer-box a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
}
.footer-text {
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	background-color:#292929;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	margin: 0px;
}
.footer-text a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
/*-----------------------------------------------------------------inside--------------------------------------------------------*/
.inside-text {
	padding: 0px;
	float: left;
	height: auto;
	width: 995px;
	margin-top: 26px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
}
.inside-text-bot {
	padding: 0px;
	float: left;
	height: auto;
	width: 955px;
	margin-right: 20px;
	margin-bottom: 15px;
	margin-left: 20px;
}
.inside-text-bot h3 {
	margin: 0px;
	text-transform: uppercase;
	color: #950000;
	font-family: "Open Sans";
	font-size: 14px;
	display: inline;
	padding: 0px;
}
.inside-text-bot i {
	margin: 0px;
	text-transform: uppercase;
	color: #f7941e;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.inside-text-right {
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	border:1px solid #eae9e9;
	float: left;
	height: auto;
	width: 232px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.inside-text-right h3 {
	margin: 0px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: "Open Sans";
	font-size: 14px;
	display: inline;
	background-color: #af0101;
	float: left;
	height: auto;
	width: 211px;
	padding-top: 16px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 21px;
}
.inside-text-right  i {
	margin: 0px;
	text-transform: uppercase;
	color: #4e4e4d;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.inside-text-right   ul {
	padding: 0px;
	font-family: "Open Sans";
	font-size: 13px;
	color: #353535;
	list-style-type: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e2e2e2;
	margin: 0px;
}
.inside-text-right li {
	margin: 0px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: "Open Sans";
	font-size: 14px;
	display: inline;
	float: left;
	height: auto;
	width: 211px;
	padding-top: 16px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 21px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	background-color: #3d3d3d;
	background-image: url(../../images/arrow.jpg);
	background-repeat: no-repeat;
	background-position: right center;
}
.inside-text-right a {
	margin: 0px;
	text-transform: uppercase;
	font-family: "Open Sans";
	font-size: 13px;
	display: inline;
	float: left;
	height: auto;
	width: 211px;
	padding-top: 16px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 21px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	text-decoration: none;
	color: #3D3D3D;
}
.inside-text-right  a:hover {
	margin: 0px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: "Open Sans";
	font-size: 13px;
	display: inline;
	float: left;
	height: auto;
	width: 211px;
	padding-top: 16px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 21px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	text-decoration: none;
	background-color: #3D3D3D;
}
/*.inside-text-right  span {
	margin: 0px;
	text-transform: uppercase;
	color: #3d3d3d;
	font-family: "Open Sans";
	font-size: 13px;
	display: inline;
	float: left;
	height: auto;
	width: 211px;
	padding-top: 16px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 21px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	text-decoration: none;
}*/
.inside-text-right span {
	font-family: "Open Sans";
	font-size: 13px;
	color: #353535;
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 16px;
}
.nav-t-le {
	margin: 0px;
	float: left;
}
.nav-t-le  span {
	margin: 0px;
	float: left;
	height: auto;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 21px;
	width: 211px;
	background-color: #FFFFFF;
	text-decoration: none;
	font-family: "Open Sans";
	font-weight: bold;
	color: #af0101;
	text-transform: uppercase;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8D8D8;
}
.nav-t-le a {
	margin: 0px;
	float: left;
	height: auto;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 21px;
	width: 211px;
	background-color: #f4f4f4;
	text-decoration: none;
	font-size: 12px;
	color: #3D3D3D;
}
.nav-t-le  a:hover {
	margin: 0px;
	float: left;
	height: auto;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 21px;
	width: 211px;
	background-color: #999999;
	text-decoration: none;
	font-size: 12px;
}

.inside-text-left-box {
	margin: 0px;
	float: right;
	height: auto;
	width: 732px;
	padding: 0px;
}
.inside-text-left {
	margin: 0px;
	float: left;
	height: auto;
	width: 724px;
	padding-right: 18px;
	padding-left: 19px;
	/*border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #e2e2e2;*/
}
.inside-text-left span {
	text-align: justify;
	float: left;
	height: auto;
	width: 724px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 16px;
	padding-left: 0px;
	/*border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e2e2e2;*/
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.inside-text-left  h1 {
	text-align: justify;
	padding: 0px;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: bold;
	color: #af0101;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 16px;
	margin-left: 0px;
}
.inside-text-left   p {
	text-align: justify;
	padding: 0px;
	font-family: "Open Sans";
	font-size: 13px;
	color: #231f20;
	margin: 0px;
}
.inside-text-left-box {
	float: left;
	height: auto;
	width: 719px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 21px;
	margin-bottom: 0px;
	margin-left: 21px;
}
.inside-text-left {
	margin: 0px;
	float: left;
	height: auto;
	width: 719px;
	padding: 0px;
}
.inside-text-left span {
	text-align: justify;
	float: left;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	width: 719px;
	padding: 0px;
}
.inside-text-left  h1 {
	text-align: justify;
	padding: 0px;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: bold;
	color: #af0101;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 16px;
	margin-left: 0px;
}
.inside-text-left   p {
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #231f20;
	padding-top: 19px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DBDBDB;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
.b-camb {
	float: left;
	width: 719px;
	font-family: "Open Sans";
	font-size: 12px;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c4c4c4;
	padding-bottom: 13px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
.b-camb a {
	font-family: "Open Sans";
	font-size: 12px;
	color: #af0101;
	text-decoration: none;
}
.mb-title {
	font-family: "Open Sans";
	font-size: 16px;
	color: #af0101;
	display: block;
}
.mb-post {
	font-family: "Open Sans";
	font-size: 13px;
	color: #3D3D3D;
	display: block;
}

.form-title {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: bold;
	color: #af0101;
	text-align: center;
}


/*-------------------------------------------------------------Form-----------------------------------------------------------------*/
/*.form-container {
   }
.form-field {
	border: 1px solid #b0b0b0;
	background: #ededed;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #2e2e2e;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	padding:8px;
	margin-bottom:0px;
	width:380px;
	font-family: "Open Sans";
   }
.form-field:focus {
   background: #d6d6d6;
   color: #1f1f1f;
   }
.submit-container {
	margin:8px 0;
	text-align:center;
   }
.submit-button {
   border: 1px solid #616161;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#f3f3f3));
   background: -webkit-linear-gradient(top, #e3e3e3, #f3f3f3);
   background: -moz-linear-gradient(top, #e3e3e3, #f3f3f3);
   background: -ms-linear-gradient(top, #e3e3e3, #f3f3f3);
   background: -o-linear-gradient(top, #e3e3e3, #f3f3f3);
   background-image: -ms-linear-gradient(top, #e3e3e3 0%, #f3f3f3 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #fcfcfc 0 1px 0;
   color: #000000;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #2b2b2b;
   text-shadow: #000000 0 1px 0;
   background: #363636;
   background: -webkit-gradient(linear, left top, left bottom, from(#dddedb), to(#363636));
   background: -webkit-linear-gradient(top, #dddedb, #363636);
   background: -moz-linear-gradient(top, #dddedb, #363636);
   background: -ms-linear-gradient(top, #dddedb, #363636);
   background: -o-linear-gradient(top, #dddedb, #363636);
   background-image: -ms-linear-gradient(top, #dddedb 0%, #363636 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #5c5c5c 0 1px 0;
   border: 1px solid #666666;
   background: #333333;
   background: -webkit-gradient(linear, left top, left bottom, from(#7a7a7a), to(#363636));
   background: -webkit-linear-gradient(top, #7a7a7a, #333333);
   background: -moz-linear-gradient(top, #7a7a7a, #333333);
   background: -ms-linear-gradient(top, #7a7a7a, #333333);
   background: -o-linear-gradient(top, #7a7a7a, #333333);
   background-image: -ms-linear-gradient(top, #7a7a7a 0%, #333333 100%);
   color: #ffffff;
   }*/
   .form-container {
	text-align: center;
   }
.form-field {
	border: 1px solid #b0b0b0;
	background: #ebeae8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #8f0707;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	padding:8px;
	width:280px;
   }
/*.form-field:focus {
   background: #fff;
   color: #0f0f0f;
   }
.form-container h2 {
   text-shadow: #ffffff 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #a10606;
   text-shadow: #ffffff 0 1px 0;
   }*/
.submit-container {
	margin:8px 0;
	text-align:center;
   }
.submit-button {
   border: 1px solid #7a7a7a;
   background: #949494;
   background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#949494));
   background: -webkit-linear-gradient(top, #e0e0e0, #949494);
   background: -moz-linear-gradient(top, #e0e0e0, #949494);
   background: -ms-linear-gradient(top, #e0e0e0, #949494);
   background: -o-linear-gradient(top, #e0e0e0, #949494);
   background-image: -ms-linear-gradient(top, #e0e0e0 0%, #949494 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #fefffc 0 1px 0;
   color: #000000;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #1f0101;
   text-shadow: #050505 0 1px 0;
   background: #140000;
   background: -webkit-gradient(linear, left top, left bottom, from(#450200), to(#140000));
   background: -webkit-linear-gradient(top, #450200, #140000);
   background: -moz-linear-gradient(top, #450200, #140000);
   background: -ms-linear-gradient(top, #450200, #140000);
   background: -o-linear-gradient(top, #450200, #140000);
   background-image: -ms-linear-gradient(top, #450200 0%, #140000 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #000000 0 1px 0;
   border: 1px solid #260000;
   background: #0d0000;
   background: -webkit-gradient(linear, left top, left bottom, from(#4a0000), to(#140000));
   background: -webkit-linear-gradient(top, #4a0000, #0d0000);
   background: -moz-linear-gradient(top, #4a0000, #0d0000);
   background: -ms-linear-gradient(top, #4a0000, #0d0000);
   background: -o-linear-gradient(top, #4a0000, #0d0000);
   background-image: -ms-linear-gradient(top, #4a0000 0%, #0d0000 100%);
   color: #fff;
   }
/*-----------------------------------------------------------End Form---------------------------------------------------------------*/
.page-sp-title-blk {
	font-family: "Open Sans";
	font-size: 13px;
	color: #000;
	font-weight: bold;
}
.page-sp-title-blk2 {
	font-family: "Open Sans";
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.page-sp-title-nu2 {
	font-family: "Open Sans";
	font-size: 12px;
	color: #af0101;
	font-weight: bold;
}
.page-sp-title-nu {
	font-family: "Open Sans";
	font-size: 14px;
	color: #af0101;
	font-weight: bold;
}
.page-sp-title {
	font-family: "Open Sans";
	font-size: 14px;
	color: #af0101;
	font-weight: bold;
}
.page-sp-title h4 {
	font-family: "Open Sans";
	font-size: 22px;
	color: #af0101;
	font-weight: bold;
	display: inline;
}
.for-news a {
	font-family: "Open Sans";
	font-size: 14px;
	color: #af0101;
}
.for-email  a {
	font-family: "Open Sans";
	font-size: 13px;
	color: #af0101;
}
.for-link    a {
	font-family: "Open Sans";
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
.top-link     a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	margin-right: 10px;
	font-weight: bold;
}
.arrow {
	background-image: url(../../projects/solar-pv/off-grid-rooftop/images/arrow.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
